.supervision-agregar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 20px;
    overflow-y: auto;

    .titulo2 {
        display: none;

        &.visible {
            display: flex;
        }
    }

    .selectores {
        display: none;

        &.visible {
            display: flex;
        }

        height: 35px;
        width: 330px;
        margin: 5px;

        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }

    .form {
        display: none;
        height: 100%;
        width: 100%;

        &.visible {
            display: flex;
        }

        .cargandoPagina {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .formulario {
            flex-direction: column;
            height: 100%;
            width: 100%;

            .titulo3 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }

            .campo {
                display: flex;
                align-items: baseline;
                justify-content: baseline;
                margin: 10px 0px;
                width: 100%;

                i {
                    padding: 5px 10px 5px 5px;
                }

                .entradas {
                    display: flex !important;
                    flex-direction: column !important;
                    width: 100% !important;

                    .texto {
                        padding-bottom: 5px;
                    }

                    .foto-label {
                        border: 1px solid rgb(151, 151, 151);
                        border-radius: 6px;
                        padding: 5px 10px;
                        text-align: center;
                        color: black;
                    }

                    .botones {
                        display: flex;
                        align-items: baseline;
                        justify-content: center;
                        flex-direction: column;
                        padding-bottom: 5px;

                        .subtitulos {
                            margin: 5px 0px 3px 0px;
                        }

                        .opciones {
                            display: flex;
                            align-items: center;
                            justify-content: baseline;
                            margin-bottom: 5px;
                        }

                        button {
                            width: 60px;
                            margin-right: 10px;
                        }

                        .comentario {
                            width: 100%;
                        }

                    }
                }

                .contenedor {
                    display: flex !important;
                    flex-direction: row !important;
                    height: auto !important;
                    width: 100% !important;

                    .texto {
                        padding-bottom: 3px;
                    }
                }

                &.vehiculo button {
                    @media screen and (max-width: 600px) {
                        width: 45px !important;
                        padding: 8px 10px;
                    }
                }

                &.ubicacion {
                    flex-direction: column !important;
                    align-items: baseline !important;
                }
            }

            .enviar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }
    }
}