@import '../../../styles/style.css';

.AlumbradoPublico {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 600px) {
        padding-left: 0;
    }

    .contenedor {
        display: flex;
        width: 100%;
        background-color: var(--background-menu-cuerpo);
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        position: relative;

        .CargandoPagina {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .Botones {
            max-width: 120px;
        }

        .Tabla {
            margin-top: 20px;
        }
    }
}