.Encuentas {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;

    @media screen and (max-width: 600px) {
        margin-left: 0px;
    }

    .PaginaVolver {
        max-width: 100px;
        margin-bottom: 20px;

        .texto {
            margin-left: 5px;
            color: white;
        }
    }

    .Votaciones {
        display: flex !important;
        justify-content: center;
        align-items: baseline;
        width: 100% !important;

        @media screen and (max-width: 600px) {
            flex-direction: column !important;
        }

        .BarraVotaciones {
            width: 100%;

            @media screen and (max-width: 600px) {
                width: 100% !important;
            }

            .TituloBarraVotaciones {
                color: var(--text);

                i {
                    padding-right: 10px;
                }
            }

            .Grafica {
                width: 100% !important;
                height: 300px;
            }
        }
    }

    .Linea {
        height: 1px;
        width: 100%;
        border: 1px solid var(--background-lineas);
        border-radius: 10px;
        margin: 10px 0;
    }

    .campo {
        display: flex;
        width: 100% !important;
        height: auto;
        margin-bottom: 15px;

        .fas {
            margin-right: 5px;
            margin-top: 4px;
        }

        .entradaDatos {
            width: 100% !important;

            .entrada,
            .selector {
                height: 40px;
            }
        }

        .botones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100% !important;
        }
    }

    .galeria {
        display: grid;
        gap: 1rem;
        padding: 1rem 0;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .card {
            background: var(--background-menu-superior);
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            text-align: center;
            transition: transform 0.2s;
            transition: border 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-4px);
            }

            &.seleccionada {
                border: 3px solid #007bff;
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
            }

            .imagenes {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90%;

                img,
                video {
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }

            .nombre {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10%;
                color: var(--text);
            }
        }
    }
}