.reporteMaterialAgregar {
    width: calc(100%);
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

    @media screen and (max-width: 600px) {
        padding-left: 0;
    }

    .Contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: white;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ff8800;
            border-radius: 10px;
            border: 3px solid white;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #bd6a0c;
        }

        .Formulario {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .Titulo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                h3 {
                    margin: 10px;
                }

                @media screen and (max-width: 600px) {
    
                    h3 {
                        font-size: 20px;
                    }
                }
            }

            .contenido {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 20px;
                margin-top: 10px;

                @media screen and (max-width: 1040px) {
                    flex-direction: column;
                    align-items: baseline;
                    padding: 0px 20px;

                    .CuadroAjuste {
                        display: none !important;
                    }

                    &:nth-child(3) {
                        margin-top: 0;
                    }
                }

                .Fecha,
                .Solicitante,
                .Ot,
                .Movil,
                .Responsable,
                .Nodo,
                .CuadroAjuste {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 190px;

                    @media screen and (max-width: 1040px) {
                        margin-bottom: 15px;
                        flex-direction: row;
                        width: 100%;
                    };

                    .Subtitulo {
                        display: flex;
                        align-content: center;
                        justify-content: baseline;
                        width: 100%;
                        margin-bottom: 5px;

                        i {
                            margin: 0px 10px 0px 5px;
                        }

                        h5 {
                            margin: 0px;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 0px 5px;
                    }
                }
            }

            .lineaHorizaontal {
                width: calc(100% - 20px);
                height: 1px;
                margin: 20px 10px;
                border: 1px solid #23394d;
            }

            .SubTitulo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .Tabla {
                margin: 0px 20px;
                border: 1px solid #ccc;
                border-radius: 5px;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    td {
                        position: relative;

                        ul {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            max-height: 150px;
                            overflow-y: auto;
                            background-color: white;
                            border: 1px solid #ccc;
                            z-index: 1000;
                            list-style: none;
                            padding: 0;
                            margin: o;
                        }

                        button.Agregar {
                            padding: 10px 10px;
                            background-color: #54b31d;
                            color: white;
                            cursor: pointer;
                            width: 100%;
                            border: none;
                            border-radius: 5px;

                            &:hover {
                                background-color: #428f16;
                            }
                        }

                        button.Borrar {
                            padding: 10px 10px;
                            background-color: #c42f2f;
                            color: white;
                            cursor: pointer;
                            width: 100%;
                            border: none;
                            border-radius: 5px;

                            &:hover {
                                background-color: #882121;
                            }
                        }
                    }

                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 8px;
                        text-align: left;
                    }

                    select,
                    input {
                        width: 100%;
                        padding: 5px;
                    }
                }

                @media (max-width: 1040px) {
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        display: block;
                        min-width: 0px !important;

                        thead {
                            display: none;
                        }

                        tbody {
                            display: block;
                            width: 100%;
    
                            tr {
                                display: block;
                                width: 100%;
                                border-bottom: 1px solid #ddd;
                                margin-bottom: 20px;
    
                                td {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 8px 10px;
                                    border-bottom: 1px solid #ddd;
                                    width: 100%;

                                    span {
                                        flex: 0 0 50%;
                                        text-align: center;
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                    }

                                    &:before {
                                        content: attr(data-label);
                                        font-weight: bold;
                                        flex: 0 0 50%;
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .Enviar {
                margin: 10px 0px 0px 0px;
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: center;
                width: 100%;
                
                button {
                    width: 100px;
                    padding: 10px;
                    margin: 0px 20px 20px 0px;
                }
            }
        }
    }
}

.Toastify__toast {
    margin-top: 40px;
    width: 250px;
    padding: 10px;
}

#CargandoPagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}