.powerbi {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;    
    height: calc(100% - 40px);
    width: 100%;
    padding-left: 40px;

    iframe {
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        padding-left: 0px;
    }
}