.powerbi {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;

    iframe {
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        padding-left: 0px;
    }
}