.MaterialDetalle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;

    .Contenido {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;

        @media (max-width: 1040px) {
            width: 100%;
            height: 90%;
        }

        .CargandoPagina {
            width: 100%;
            height: 90%;
        }

        div {
            width: 100%;

            .BarraSuperior {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h3 {
                    margin-top: 10px;
                }

                button {
                    border: none;
                    background-color: white;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .Detalles {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;
                width: 100%;

                @media (max-width: 1040px) {
                    flex-direction: column;
                }

                .Columna1,
                .Columna2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: baseline;
                    justify-items: baseline;
                    align-items: baseline;
                    width: 100%;

                    div {
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        button {
                            margin-left: 5px;
                            border: 1px solid #000;
                            border-radius: 5px;
                            background-color: white;
                            cursor: pointer;
                            font-size: 13px;
                            color: #000;
                        }
                    }
                }
            }

            .Tabla {
                margin: 20px 0px 10px 0px;
                width: 100%;

                thead {
                    background-color: #23394d;

                    th {
                        color: white;
                    }
                }

                tbody {
                    .material-solicitado {
                        background-color: green;
                        color: white;
                        text-align: center;
                    }

                    .material-no-solicitado {
                        background-color: red;
                        color: white;
                        text-align: center;
                    }

                    .desabastecido {
                        background-color: rgba(255, 0, 0, 0.822);
                        color: white;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    margin: 20px 0px 10px 0px;
                }

                @media (max-width: 1040px) {
                    table {
                        border-collapse: collapse;
                        display: block;
                        width: 100%;
                        min-width: 0px !important;

                        thead {
                            display: none;
                        }

                        tbody {
                            tr {
                                display: block;
                                width: 100%;
                                margin-bottom: 10px;

                                &::after {
                                    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
                                    display: block;
                                    text-align: center;
                                    margin-top: 10px;
                                    color: #000000;
                                }

                                &::last-child {
                                    margin-bottom: 0;
                                }

                                &:last-child::after {
                                    content: "";
                                }

                                td {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 8px 10px;
                                    border-bottom: 1px solid #ddd;
                                    width: 100%;

                                    span {
                                        flex: 0 0 50%;
                                        text-align: center;
                                        font-weight: initial;
                                        font-size: 14px;
                                    }

                                    &:before {
                                        content: attr(data-label);
                                        font-weight: bold;
                                        flex: 0 0 50%;
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .Observaciones {
                margin: 10px 0px;
                width: 100%;

                textarea {
                    display: block;
                    width: 100%;
                    margin-top: 5px;
                }
            }

            .Botones {
                width: 100%;
                display: flex;
                justify-content: center !important;
                align-items: center;
                margin: 10px 0px;

                button {
                    width: 100px;
                    margin: 0px 40px;
                }
            }

            .LecturaPDFs {
                width: 100%;
                margin-top: 10px;

                .EntradaPDFs {
                    span {
                        font-weight: bold;
                    }

                    .inputPDFs {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: baseline;
                        margin: 10px 0px;
                    }
                }

                .Contenedor {
                    text-align: center;
                    margin-top: 20px;

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 20px 0px 10px 0px;
                    }

                    .VisorPDFs {
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        overflow: hidden;
                        height: 400px;

                        iframe {
                            width: 100%;
                            height: 100%;
                            border: none;
                        }
                    }

                    .Botones {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            margin: 0px 20px;
                        }
                    }
                }
            }
        }
    }
}

.Toastify__toast {
    margin: 40px !important;
    width: 250px !important;
    padding: 10px !important;

    .Toastify__toast-icon {
        width: 20% !important;
    }

    @media (max-width: 1100px) {
        margin: 40px 0px !important;
    }
}

#CargandoPagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}