.inventarioMaterialPrincipal {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

    @media screen and (max-width: 600px) {
        padding-left: 0;
    }

    .CargandoPagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Contenido {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        overflow-y: auto;
        padding-bottom: 20px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ff8800;
            border-radius: 10px;
            border: 3px solid white;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #bd6a0c;
        }

        .btn-flotante {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 50%;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            z-index: 1000;

            &:hover {
                background-color: #0056b3;
            }
        }

        .Titulo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 15px 0px 5px 0px;
            text-align: center;

            span {
                font-size: 25px;
            }

            @media screen and (max-width: 600px) {
                justify-content: start;
                padding-left: 10px;
                text-align: left;

                h2 {
                    font-size: 18px;
                }
            }
        }

        .menuNavegacion {
            width: 100%;

            ul {
                li {
                    cursor: pointer;
                }
            }
        }

        .Registros {
            padding: 20px 20px 0px;
            width: 100%;

            .Botones {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
                margin-bottom: 5px;
                text-align: right;
            }

            .Subtitulo {
                width: 100%;
                text-align: center;
                padding: 10px;
                background-color: #23394d;
                color: #fff;
                border-radius: 10px 10px 0px 0px;
                font-size: medium;

                &::placeholder {
                    text-align: center;
                }
            }

            .Tabla {
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 10px;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: white;
                    border-radius: 10px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #ff8800;
                    border-radius: 10px;
                    border: 5px solid white;
                }
        
                &::-webkit-scrollbar-thumb:hover {
                    background: #bd6a0c;
                }
                
                table {
                    width: 100%;
                    border-collapse: collapse;
                    min-width: 870px;

                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 8px;
                        text-align: center;
                    }

                    thead {
                        th {

                            i {
                                margin-left: 5px;
                            }
                        }

                        th:hover {
                            background-color: #56d424d5;
                            cursor: pointer;
                        }
                    }

                    tbody {
                        tr:hover {
                            background-color: #56d424d5;
                            cursor: pointer;
                        }

                        td {
                            text-align: center;
                        }
                    }

                    input {
                        margin-top: 4px;
                        padding: 4px;
                        width: 90%;
                        text-align: center;
                    }
                }
            }

            .Boton {
                display: flex;
                align-items: center;
                justify-content: end;
                margin-top: 10px;
                text-align: right;

                span {
                    cursor: pointer;
                }
            }
        }
    }
}