.contenedor {
    display: flex;
    width: 100vw;
    height: 100vh;

    .menuLateral.abierto {
        height: 100%;
        width: 300px;
        background-color: #0F1D2B;
        flex-direction: column;
        transition: 0.2s all ease;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e0792a;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #ff6f00;
        }

        &::-webkit-scrollbar-track {
            background-color: #ddd;
        }

        .Menu {
            padding: 3px 3px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .SubMenu {
                display: inline-block;
                width: auto;

                .SubMenu-Titulo-Solo {
                    display: flex;
                    align-items: center;
                    justify-content: baseline;
                    text-decoration: none;
                    cursor: pointer;
                    color: #64b2ff;
                    padding: 5px 3px;
                    margin: 2px 0px;
                    min-width: 210px;
                    font-family: sans-serif;
                    height: 35px;

                    &:hover {
                        color: #fff;
                        background-color: #e0792a;
                        transition: 0.3s all ease;
                        border-radius: 5px;
                    }

                    .SubMenu-Titulo-Icono {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        padding-left: 4px;
                        padding-right: 10px;
                        font-size: 20px;
                    }
                }

                .SubMenu-Titulo {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    cursor: pointer;
                    color: #64b2ff;
                    padding: 5px 5px 5px 3px;
                    margin: 2px 0px;
                    min-width: 210px;
                    font-family: sans-serif;
                    height: 35px;

                    &:hover {
                        color: #fff;
                        background-color: #e0792a;
                        transition: 0.3s all ease;
                        border-radius: 5px;
                    }

                    .SubMenu-Titulo-Contenedor {
                        display: flex;
                        height: 20px;
                        width: 208px;

                        .SubMenu-Titulo-Icono {
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            padding-left: 4px;
                            padding-right: 10px;
                            font-size: 20px;
                            height: 20px;
                        }

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 174px;

                            .SubMenu-Titulo-Texto {
                                font-size: 15px;
                                flex: 1;
                            }

                            .SubMenu-Titulo-Icono2 {
                                font-size: 12px;
                                margin-left: auto;
                                margin-right: 5px;

                                .icono-flecha {
                                    transition: transform 0.5s ease;

                                    &.rotado {
                                        transform: rotate(-90deg);
                                    }
                                }
                            }
                        }
                    }
                }

                .SubMenu-Contenido {
                    overflow: hidden;
                    max-height: 0;
                    transform: translateY(-5px);
                    transition:
                        max-height 0.5s ease-in-out,
                        transform 0.5s ease-in-out;

                    &.visible {
                        max-height: 500px;
                        transform: translateY(0);
                    }

                    &.oculto {
                        max-height: 0;
                        transform: translateY(-5px);
                    }

                    ul {
                        width: 100%;
                        list-style-type: disc;
                        padding-left: 0px;

                        .SubMenu-Contenido-Titulo {
                            text-decoration: none;
                            display: flex;
                            background-color: #23394d;
                            padding: 3px 3px 3px 30px;
                            color: #64b2ff;
                            font-size: 15px;
                            font-family: sans-serif;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            &:hover {
                                color: #fff;
                                background-color: #e0792a;
                                transition: 0.3s all ease;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .barraSuperior {
            display: flex;
            width: 100%;
            height: 8%;
            background-color: #e0792a;
        }

        .contenido {
            display: flex;
            width: 100%;
            height: 100%;

            .div-Imagen {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}