.Supervision-Agregar {
    width: calc(100%);
    height: calc(100% - 40px);
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.Contenido {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho fijo */
    height: 95%;
    max-width: 350px;
    background-color: white;
    border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
}

.Contenido .Formulario {
    width: 100%;
    height: 100%;
}

.Contenido .OT,
.Contenido .Novedad,
.Contenido .Observacion,
.Contenido .Ubicacion,
.Contenido .Foto,
.Contenido .Enviar {
    margin: 10px;
}

.Contenido .OT i,
.Contenido .Novedad i,
.Contenido .Observacion i,
.Contenido .Foto i {
    padding-right: 10px;
}

.Contenido .OT input,
.Contenido .Novedad input,
.Contenido .Observacion input,
.Contenido .Foto input {
    width: 90%;
}