.Supervision-Agregar {
    width: calc(100%);
    height: calc(100% - 40px);
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.Supervision-Agregar .Contenido {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho fijo */
    height: 95%;
    max-width: 350px;
    background-color: white;
    border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
}

.Supervision-Agregar .Contenido .Formulario {
    width: 100%;
    height: 100%;
}

.Supervision-Agregar .Contenido .Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Supervision-Agregar .Contenido .Titulo h3 {
    margin: 10px;
}

.Supervision-Agregar .Contenido .Placa,
.Supervision-Agregar .Contenido .OT,
.Supervision-Agregar .Contenido .Novedad,
.Supervision-Agregar .Contenido .Observacion,
.Supervision-Agregar .Contenido .Ubicacion,
.Supervision-Agregar .Contenido .Foto,
.Supervision-Agregar .Contenido .Enviar {
    margin: 10px;
}

.Supervision-Agregar .Contenido .Fecha,
.Supervision-Agregar .Contenido .Placa,
.Supervision-Agregar .Contenido .OT,
.Supervision-Agregar .Contenido .Novedad,
.Supervision-Agregar .Contenido .Observacion,
.Supervision-Agregar .Contenido .Foto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Supervision-Agregar .Contenido .Fecha i,
.Supervision-Agregar .Contenido .Placa i,
.Supervision-Agregar .Contenido .OT i,
.Supervision-Agregar .Contenido .Novedad i,
.Supervision-Agregar .Contenido .Observacion i,
.Supervision-Agregar .Contenido .Ubicacion .Contenedor i,
.Supervision-Agregar .Contenido .Foto i {
    padding-right: 10px;
}

.Supervision-Agregar .Contenido .Placa input,
.Supervision-Agregar .Contenido .Fecha span,
.Supervision-Agregar .Contenido .OT input,
.Supervision-Agregar .Contenido .Novedad input,
.Supervision-Agregar .Contenido .Observacion textarea,
.Supervision-Agregar .Contenido .Ubicacion .Contenedor span {
    width: 90%;
}

.Supervision-Agregar .Contenido .Observacion textarea {
    height: 10vh;
}

.Supervision-Agregar .Contenido .Ubicacion .Contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.Supervision-Agregar .Contenido .Foto label {
    width: 90%;
    margin: 0;
}

.Supervision-Agregar .Contenido .Enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Toastify__toast {
    margin-top: 40px; /* Elimina el margen */
    width: 250px; /* Ajusta el ancho */
    padding: 10px; /* Ajusta el padding */
}