.Supervision-Principal {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 40px;
    padding: 0px 20px;

    @media screen and (max-width: 600px) {
        width: calc(100%);
        margin-left: 0px;
    }
}

.Supervision-Principal .Contenido {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column;
    justify-content: baseline; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho fijo */
    height: 95%;
    background-color: white;
    border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
    overflow-y: auto;

    @media screen and (max-width: 600px) {
        max-width: 350px;  
    }
}

.Supervision-Principal .Contenido::-webkit-scrollbar {
    width: 10px; 
}

.Supervision-Principal .Contenido::-webkit-scrollbar-track {
    background: rgb(230, 230, 230); /* Color de fondo de la pista de la scrollbar */
    border-radius: 10px; /* Bordes redondeados para el track */
}

.Supervision-Principal .Contenido::-webkit-scrollbar-thumb {
    background-color: #ff8800; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados para la barra de desplazamiento */
    border: 3px solid rgb(230, 230, 230); /* Espacio alrededor del thumb (efecto de margen) */
}

.Supervision-Principal .Contenido::-webkit-scrollbar-thumb:hover {
    background: #bd6a0c; /* Color de la barra de desplazamiento al pasar el mouse por encima */
}

.Supervision-Principal .Contenido h4 {
    margin: 30px 0px 0px 0px;

    @media screen and (max-width: 600px) {
        margin: 30px 0px 10px 0px;
    }
}

.Supervision-Principal .Contenido .RenderizarFiltros {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: baseline; /* Centra verticalmente */
    
    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .SeleccionFecha {
    width: 90%;
    margin: 10px 10px 5px 10px;
}

.Supervision-Principal .Contenido .SeleccionFecha i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionFecha select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .SeleccionSupervision {
    width: 90%;
    margin: 5px 10px 5px 10px;
}

.Supervision-Principal .Contenido .SeleccionSupervision i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionSupervision select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .SeleccionPlaca {
    width: 90%;
    margin: 5px 10px 0px 10px;
}

.Supervision-Principal .Contenido .SeleccionPlaca i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionPlaca select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .Total {
    width: 100%;
    margin: 10px;
    padding-left: 13px;

    @media screen and (max-width: 600px) {
        width: 90%;
        padding-left: 0px;
    }
}

.Supervision-Principal .Contenido .Total i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .RenderizarMapaYGraficos {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: baseline; /* Centra horizontalmente */
    align-items: baseline; /* Centra verticalmente */

    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .RenderizarMapa {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .RenderizarGraficos {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .TituloBarraFecha {
    width: 90%;
    margin: 10px 10px 5px 10px;
    padding-left: 8px;
}

.Supervision-Principal .Contenido .TituloBarraFecha i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .BarraFecha {
    padding-right: 30px;
}

.Supervision-Principal .Contenido .Ubicacion .Contenedor {
    margin: 0px 10px 5px 10px;
    padding-left: 3px;
}

.Supervision-Principal .Contenido .Ubicacion #map {
    width: 70vw;
    height: 62vh;

    @media screen and (min-width: 1350px) and (max-width: 1600px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 65vw;
        height: 62vh;
    }

    @media screen and (min-width: 600px) and (max-width: 1350px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 60vw;
        height: 62vh;
    }

    @media screen and (min-width: 950px) and (max-width: 1150px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 50vw;
        height: 62vh;
    }

    @media screen and (min-width: 600px) and (max-width: 950px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 30vw;
        height: 62vh;
    }

    @media screen and (max-width: 600px) {
        width: 330px;
        height: 300px;
    }
}

.Supervision-Principal .Contenido .Ubicacion .Contenedor i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .TituloBarraSupervision {
    width: 90%;
    margin: 10px 10px 5px 0px;
    padding-left: 5px;
}

.Supervision-Principal .Contenido .TituloBarraSupervision i {
    padding-right: 10px;
}

.Supervision-Principal .btn-flotante {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.Supervision-Principal .btn-flotante:hover {
    background-color: #0056b3;
}
