.Supervision-Principal {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 40px;
    padding: 0px 20px;

    @media screen and (max-width: 600px) {
        width: calc(100%);
        margin-left: 0px;
    }
}

.Supervision-Principal #CargandoPagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Supervision-Principal .Contenido {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column;
    justify-content: baseline; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho fijo */
    height: 95%;
    background-color: white;
    border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
    overflow-y: auto;
    padding-bottom: 20px;

    @media screen and (max-width: 600px) {
        max-width: 350px;  
    }
}

.Supervision-Principal .Contenido::-webkit-scrollbar {
    width: 10px; 
}

.Supervision-Principal .Contenido::-webkit-scrollbar-track {
    background: rgb(230, 230, 230); /* Color de fondo de la pista de la scrollbar */
    border-radius: 10px; /* Bordes redondeados para el track */
}

.Supervision-Principal .Contenido::-webkit-scrollbar-thumb {
    background-color: #ff8800; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados para la barra de desplazamiento */
    border: 3px solid rgb(230, 230, 230); /* Espacio alrededor del thumb (efecto de margen) */
}

.Supervision-Principal .Contenido::-webkit-scrollbar-thumb:hover {
    background: #bd6a0c; /* Color de la barra de desplazamiento al pasar el mouse por encima */
}

.Supervision-Principal .btn-flotante {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.Supervision-Principal .btn-flotante:hover {
    background-color: #0056b3;
}

.Supervision-Principal .Contenido h4 {
    margin: 30px 0px 0px 0px;

    @media screen and (max-width: 600px) {
        margin: 30px 0px 10px 0px;
    }
}

.Supervision-Principal .Contenido .RenderizarFiltros {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: baseline; /* Centra verticalmente */
    
    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .SeleccionFecha {
    width: 90%;
    margin: 10px 10px 5px 10px;
}

.Supervision-Principal .Contenido .SeleccionFecha i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionFecha select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .SeleccionSupervision {
    width: 90%;
    margin: 5px 10px 5px 10px;
}

.Supervision-Principal .Contenido .SeleccionSupervision i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionSupervision select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .SeleccionPlaca {
    width: 90%;
    margin: 5px 10px 0px 10px;
}

.Supervision-Principal .Contenido .SeleccionPlaca i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .SeleccionPlaca select {
    margin: 5px 0px 0px 20px;
}

.Supervision-Principal .Contenido .Total {
    width: 100%;
    margin: 10px;
    padding-left: 13px;

    @media screen and (max-width: 600px) {
        width: 90%;
        padding-left: 0px;
    }
}

.Supervision-Principal .Contenido .Total i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .RenderizarMapaYGraficos {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: baseline; /* Centra horizontalmente */
    align-items: baseline; /* Centra verticalmente */

    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .RenderizarMapa {
    display: flex; /* Usa el modelo de caja flexible */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .Vehiculo,
.Supervision-Principal .Contenido .Preoperacional,
.Supervision-Principal .Contenido .Empalmes,
.Supervision-Principal .Contenido .ATS,
.Supervision-Principal .Contenido .Alturas,
.Supervision-Principal .Contenido .Epps,
.Supervision-Principal .Contenido .SupervisoresYDia,
.Supervision-Principal .Contenido .UbicacionYPlaca {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    @media screen and (max-width: 600px) {
        display: contents; /* Usa el modelo de caja flexible */
    }
}

.Supervision-Principal .Contenido .TituloBarraFecha {
    width: 90%;
    margin: 10px 10px 5px 10px;
    padding-left: 5px;
}

.Supervision-Principal .Contenido .TituloBarraFecha i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .Ubicacion .Contenedor {
    width: 90%;
    margin: 0px 10px 5px 10px;
}

.Supervision-Principal .Contenido .Ubicacion #map {
    height: 510px;
}

.Supervision-Principal .Contenido .GraficaEquipos,
.Supervision-Principal .Contenido .BarraFecha .GraficaFecha {
    height: 300px;
}

.Supervision-Principal .Contenido .GraficaEquipos {
    width: 90vw;

    @media screen and (max-width: 600px) {
        width: 85vw;
        padding-right: 20px;
    }
}

.Supervision-Principal .Contenido .BarraFecha .GraficaFecha,
.Supervision-Principal .Contenido .Ubicacion #map {
    width: 70vw;

    @media screen and (min-width: 1350px) and (max-width: 1600px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 65vw;
    }

    @media screen and (min-width: 600px) and (max-width: 1350px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 60vw;
    }

    @media screen and (min-width: 950px) and (max-width: 1150px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 50vw;
    }

    @media screen and (min-width: 600px) and (max-width: 950px) {
        /* Estilos para pantallas entre 600px y 1200px */
        width: 30vw;
    }

    @media screen and (max-width: 600px) {
        width: 300px;
    }
}

.Supervision-Principal .Contenido .Ubicacion .Contenedor i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .BarraFecha {
    width: 100%;
}

.Supervision-Principal .Contenido .TituloBarraSupervision {
    width: 90%;
    margin: 10px 10px 5px 10px;
    padding-left: 5px;
}

.Supervision-Principal .Contenido .TituloBarraSupervision i {
    padding-right: 10px;
}

.Supervision-Principal .Contenido .TablasDeEmpalmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.Supervision-Principal .Contenido #tabla-observaciones {
    width: 90vw;

    @media screen and (max-width: 600px) {
        width: 85vw;
    }
}

.Supervision-Principal .Contenido .tabla-epp {
    width: 70vw;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;

    @media screen and (max-width: 600px) {
        width: 85vw;
        min-width: 200px;
    }
}

.Supervision-Principal .Contenido .tabla-epp h3 {
    margin: 10px 0;
}

.Supervision-Principal .Contenido .tabla-epp table {
    display: block;

    @media screen and (max-width: 600px) {
        overflow: auto;
        max-width: 300px;
    }
}

.Supervision-Principal .Contenido .tabla-epp thead {
    display: block;
    max-height: 250px; /* Máxima altura del cuerpo de la tabla */

    @media screen and (max-width: 600px) {
        max-width: 300px;
    }
}

/* Limitar la altura del tbody */
.Supervision-Principal .Contenido .tabla-epp tbody {
    display: block;
    max-height: 250px; /* Máxima altura del cuerpo de la tabla */
    overflow-y: auto; /* Añadir barra de desplazamiento vertical */
    
    @media screen and (max-width: 600px) {
        max-width: 300px;
        overflow-y: initial;
    }
}

.Supervision-Principal .Contenido .tabla-epp thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;

    @media screen and (max-width: 600px) {
        width: 1000px;
        min-width: 150px;
    }
}

.Supervision-Principal .Contenido .tabla-epp tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

    @media screen and (max-width: 600px) {
        width: 1000px;
        min-width: 150px;
    }
}

.Supervision-Principal .Contenido .tabla-epp th,
.Supervision-Principal .Contenido .tabla-epp td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word; /* Permite el ajuste de línea */
    white-space: normal; /* Permitir el ajuste en varias líneas */
}

.Supervision-Principal .Contenido .tabla-epp th {
    background-color: #f4f4f4;
    font-weight: bold;
    position: sticky;
    top: 0; /* Fijar los encabezados en la parte superior cuando se hace scroll */
}

.Supervision-Principal .Contenido .tabla-epp td {
    max-width: 150px; /* Fija el ancho máximo de las celdas */
}

/* Ajustar el contenido largo */
.Supervision-Principal .Contenido .tabla-epp td {
    white-space: normal; /* Ajusta el texto en varias líneas */
    overflow: visible;   /* Permite que el contenido fluya */
}

/* Responsive: Para pantallas pequeñas */
@media (max-width: 768px) {
    .Supervision-Principal .Contenido .tabla-epp td, .tabla-epp th {
        font-size: 14px;
        padding: 6px;
    }

    .Supervision-Principal .Contenido .tabla-epp td {
        max-width: 100px;
    }
}