.BasesDeDatos {
    padding-left: 40px;
    width: 100%;
    height: calc(100vh - 40px - 10px);

    .contenedor {
        margin: 10px;
        background-color: #fff;
        height: calc(100% - 10px);
        border-radius: 10px;
        overflow-y: auto;
        padding: 20px;

        .CargandoPagina {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .entradaTexto {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            input {
                width: 50% !important;
            }

            .form-control:focus {
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.2) !important;
                outline: none !important;
                border-color: #80bdff;
            }
        }

        .contenedor-usuarios {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .carta {
                display: flex;
                justify-content: left;
                align-items: center;
                border-radius: 10px;
                background-color: beige;
                width: 100%;
                border: 1px solid #ccc;
                cursor: pointer;

                i {
                    margin: 10px;
                    font-size: 24px;
                    color: #555;
                }

                .linea {
                    width: 2px;
                    height: 80%;
                    background-color: #555;
                    margin: 0;
                }

                .texto {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                }
            }

            .modal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                display: flex;
                justify-content: center;
                align-items: center;

                .modal-contenido {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    padding: 20px;
                    border-radius: 8px;
                    overflow-y: auto;
                    min-width: 350px;

                    .titulo {
                        margin-bottom: 20px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    
                    .datos {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 20px;

                        span {
                            margin-right: 13px;
                        }
                    }

                    .datosUsuario {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 20px;

                        label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                        }
                        
                        input {
                            width: 73%;
                            padding: 5px;
                            font-weight: lighter;
                        }
                    }

                    .fila {
                        display: flex;
                        margin-bottom: 20px;

                        .columna {
                            display: flex;
                            flex-direction: column;
                            margin: 0px 10px;
                            align-items: stretch;

                            .subTitulo {
                                cursor: pointer;

                                span {
                                    margin-left: 10px;
                                }
                            }

                            .lista {
                                margin-left: 20px;
                                margin-bottom: 10px;

                                label {
                                    cursor: pointer;

                                    span {
                                        margin-left: 10px;
                                        font-weight: lighter;
                                    }
                                }
                            }
                        }

                        .linea-vertical {
                            border-left: 2px dashed #b4b4b4;
                            height: auto;
                            flex-grow: 1;
                            margin: 0px 10px;
                        }
                    }

                    .modal-botones {
                        margin: 0px 10px 0px 10px;

                        button:nth-child(1) {
                            margin-right: 50px;
                        }
                    }
                }
            }
        }
    }
}